.highlight {
  color: green;
}

.personinfo img {
  border: 2px solid green;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

.personinfo h1 {
  text-align: center;
}

.personinfo h5 {
  text-align: center;
}

body {
  height: 100%;
  width: 90%;
  margin: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(to top, lightgreen, lightblue);
}
.projects {
  max-width: 80%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 5px;
}

.pro {
  background: #222;
  color: white;
  padding: 2rem;
}
 
.about-me {
  padding-top: 10px;
}

.about-me P {
  padding-top: 10px; 
  float: left;
   width: 300px;
 }

 .chip {
   float: right;
 }

 .bgr {
   text-align: center;
   width: 800px;
 }

 .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 }

 .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

mark {
  background: rebeccapurple;
}